services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${PGTZ}
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./suwmp_be/postgres-init:/docker-entrypoint-initdb.d:ro
    networks:
      waste-collect-net:

  redis:
    image: redis:8.4
    container_name: redis
    ports:
      - "6379:6379"
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--requirepass",
        "${REDIS_PASSWORD}",
      ]
    volumes:
      - redis-data:/data
    networks:
      waste-collect-net:

networks:
  waste-collect-net:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
